p{
  font-size;30px;
  font-family: times;}

h1{
  font-size: 100px;
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2{
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  color: white;
}



.planetbild {
  width: 350px;

}

.right {

}

.left {
  float: left;
}

.header {
  background-image: url("jorden.jpg");
  padding: 80px;
  top-margin: 10px;
}

.menu {
  border: 1px solid black;
  margin: 2px;
  justify-content: space-evenly;
  display: flex;
  background-color: black;
}

.menu a {
  color: white;
  font-family: verdana;
  font-size:20px;
  border: 1px solid black;
  background-color: black;
  margin:10px;
  padding: 20px;
}



.planettext {
  border: 1px solid black;
  margin: 5px;
}

.planettext h2 {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  color: black;
}


.ytter {
   display: flex;
   justify-content: center;

 }

img {
  width: 350px;
   margin: 10px;
}

.text-box {
   margin: 10px;
}
